﻿<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <!-- Favicon -->
  <link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192" href="/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/manifest.json">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">



  <title>Ariston Lydos</title>

  <!-- Bower components -->
  <link href="vendor/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="vendor/animate.css/animate.min.css" rel="stylesheet">
  <link href="vendor/slick-carousel/slick/slick.css" rel="stylesheet">
  <link href="vendor/slick-carousel/slick/slick-theme.css" rel="stylesheet">
	<link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet">
	<link href="vendor/fancybox/dist/jquery.fancybox.min.css" rel="stylesheet">

  <!-- Custom -->
  <link href="css/main.css" rel="stylesheet">


</head>

<body>

	<div id="log" style="position: fixed; top: 0; right: 0; z-index: 1000; padding: 2px; background: black;"></div>


  <div class="wrapper">


    <!-- Contact widget -->
    <aside class="widget">
			<div class="widget__item" v-for="item in links">
				<div class="widget__icon">
					<img :src="'img/widget/' + item + '.png'" alt="">
				</div>
				<a href="#calculator" class="widget__text scroll-to-hash">
					<h5>Interested?</h5>
					Contact us for more information
				</a>
			</div>
		</aside>
    <!-- /Contact widget -->

    


    <!-- ************************************************
      Overview
    ************************************************* -->
    <section class="overview">

      <!-- BG -->
      <div class="sea-bg">


        <video autoplay loop muted poster="video/splash.jpg" class="sea-bg__splash">
            <source src="video/splash.mp4" type="video/mp4" />
            <source src="video/splash.ogv" type="video/ogg">
            <source src="video/splash.webm" type="video/webm">
        </video>

        <img src="img/overview/divider.png" class="sea-bg__divider-1" alt="" />

        <img src="img/overview/divider.png" class="sea-bg__divider-2" alt="" />

        <video autoplay loop muted poster="" class="sea-bg__50">
          <source src="video/50_full.mp4" type="video/mp4" />
            <source src="video/50_full.ogv" type="video/ogg">
            <source src="video/50_full.webm" type="video/webm">
			Your browser does not support the video tag.
        </video>

        <img src="img/overview/bg-bolle.png" class="sea-bg__intelligence" alt="" />

        <img src="img/overview/bg-sabbia-min.png" class="sea-bg__sand" alt="" />


      </div>
      <!-- /BG -->


      <section class="cover">

        <div class="container-fluid">
          <div class="row">

						<div class="col-xs-12 cover__mobile">
							<img src="img/cover/boiler-min.png" alt="" class="cover__mobile__boiler" />
							<img src="img/cover/bg-mobile.jpg" alt="" class="cover__bg" />
						</div>

            <div class="col-md-6 col-md-offset-3">
              <div class="text-content">
                <img src="img/cover/boiler-min.png" alt="" class="cover__boiler" />
                <h1 class="title title-lg">LYDOS HYBRID</h1>
                <h2 class="text text-xl" >
                  THE FIRST ELECTRIC WATER HEATER <br />
                  WITH HYBRID TECHNOLOGY <br /> IN ENERGY CLASS A
                </h2>
                <a href="https://www.youtube.com/watch?v=dxXvz5-O9yA" class="button" data-fancybox>watch the video</a>
              </div>
            </div>
          </div>
        </div>
      </section>


      <section class="everyday ">

        <img src="img/everyday/boiler-min.png" class="everyday__boiler" alt="" />

        <div class="container-fluid">
          <header class="row">
            <div class="col-lg-10 col-lg-offset-1">
              <h3 class="title title-xl" >EVERY DAY, HOT WATER <br>COSTS YOU HALF</h3>
              <a href="#calculator" class="button scroll-to-hash">How much can I save?</a>
            </div>
					</header>

					<div class="row meno50--mobile">
						<img src="img/everyday/50.png" alt="">
					</div>
					
          <div class="row">
            <div class="col-md-6 col-md-offset-3">
              <div class="text-content">
                <h1 class="title title-lg">ENJOY AN EXTRAORDINARY SAVING</h1>
                <div class="text text-lg">
                  <p>
                    <strong>With 50% more energy saving compared to the most efficient standard electric water heater in B Class,</strong>
                    the new and exclusive Hybrid Intelligence* efficiently combines electric and renewable heat pump energy adapting to your habits.
                  </p>
                </div>
                <small>*patent pending on i-Memory software and hybrid technology</small>
                <a href="#calculator" class="button scroll-to-hash">How much can I save?</a>
              </div>
            </div>
					</div>
									

          <!-- Usato per ottenere la Y del video -->
          <div class="everyday__video-placeholder"></div>

        </div>
      </section>
       


      <section class="intelligence">
        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-10 col-lg-offset-1">
              <h3 class="title title-xl">HYBRID <br /> intelligence</h3>
              <p class="text text-lg">Extraordinary hot water performances at the maximum energy efficiency.</p>
            </div>
          </div>
          <div class="row intelligence__technology">
            <div class="col-md-6 col-lg-4 col-lg-offset-2">
              <div class="text-content">
                <h3 class="title title-md">Hybrid technology</h3>
                <div class="text">
                  <p>
                    Combined use of two power sources, electricity and renewable heat pump energy.
                  </p>
                  <h5 class="title title-sm">THE POWER OF ELECTRICITY</h5>
                  <p>
                    The electric engine contributes to hot water production when quick heating is required, thanks to the enamelled heating element and the high- resistance tank.
                  </p>
                  <h5 class="title title-sm">THE EFFICIENCY OF RENEWABLE HEAT PUMP</h5>
                  <p>
                    The heat pump engine extracts heat from the air in the surrounding environment, through a thermodynamic cycle and a refrigerant fluid allowing the transfer of the heat from air to water.
                  </p>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-lg-5 col-lg-offset-1">
						<lydos-video mp4="video/technology.mp4" ogg="video/technology.ogv" webm="video/technology.webm" poster="video/technology__poster.jpg"></lydos-video> 
            </div>
          </div>
          <div class="row">
						<div class="col-md-6 col-md-push-6 col-lg-5 col-lg-push-7">
							<div class="text-content">
								<h3 class="title title-md">I-MEMORY</h3>
								<div class="text">
									<h5 class="title title-sm">A COMPLETE HYBRID TECHNOLOGY MANAGEMENT</h5>
									<p>
										Learning from your habits, the innovative i-Memory software efficiently manages the Hybrid technology, choosing the most convenient option between electric and renewable heat pump energy.
									</p>
									<p>
										It balances the electric and the renewable heat pump powers of the Hybrid technology.
									</p>
								</div>
							</div>
						</div>
            <div class="col-md-6 col-md-pull-6 col-lg-5 col-lg-pull-4">
              <img src="img/imemory.jpg" class="aside-img" alt="" />
              <div class="row">
                <div class="text col-lg-10 col-lg-offset-2">
                  It always ensures the hot water you need exactly when you need it by memorizing your hot water usage for four weeks and adjusting it from time
                  to time based on your habits.
                </div>
              </div>
            </div>
            
          </div>
        </div>
      </section>



      <section class="comfort">
        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-10 col-lg-offset-1">
              <h3 class="title title-xl">SUPERIOR<br />COMFORT</h3>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 col-lg-4 col-lg-offset-2">
              <div class="text-content">
                <h3 class="title title-md">
                  QUICK AND EASY HOT WATER SUPPLY FOR EVERY KIND OF NEEDS
                </h3>
                <div class="text">
                  <p>
                    <strong>15% faster</strong> compared to other standard electric water heaters*. When the first shower is available, it will be noticed by <strong>shower ready</strong> alert. For a more quick water heating, you can increase the electric power activating the <strong>Boost function</strong>.
                  </p>
                  <small>*internal tests</small>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-lg-5 col-lg-offset-1">
              <img src="img/comfort/boiler.jpg" alt="" class="aside-img" />
            </div>
          </div>
        </div>
      </section>



      <section class="easy-fit">
        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-10 col-lg-offset-1">
              <h3 class="title title-xl">easy fit</h3>
            </div>
          </div>
          <div class="row row-video">            
            <div class="col-md-6 col-md-push-6 col-lg-5 col-lg-push-6">
              <div class="text-content">
                <h3 class="title title-md">
                  HI-TECH DESIGN FOR EASY FIT AND HIDDEN CONNECTIONS
                </h3>
                <div class="text">
                  <p>
                    Italian style and user-friendly design with the <strong>advanced hi-tech interface</strong>. <br>
                    Patent pending on structure, aesthetics and technology.
                  </p>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-md-pull-6 col-lg-5 col-lg-pull-5">
              <lydos-video mp4="video/easy-fit.mp4" ogg="video/easy-fit.ogv" webm="video/easy-fit.webm" poster="video/easy-fit__poster.jpg"></lydos-video>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 col-lg-4 col-lg-offset-1">
              <h3 class="title title-sm">
                EASY &gt;FIT&lt;
              </h3>
              <div class="text">
                <p>
                  Designed to allow a perfect match with the installation requirements of a standard electric water heater for a quick and easy set up.

                </p>
                <ul>
                  <li>
                    No extra works required, with the compatibility of fixing brakets and pipes of a standard electric water heater (same capacity) installed at home.
                  </li>
                  <li>
                    Removable 6,3 lt tank accessory for condensate*
                    (covering about 7 days of use), provided in case fix drainage pipe installation is not possible.
                  </li>
                </ul>
              </div>
            </div>
            <div class="hidden-connections col-md-6 col-lg-5 col-lg-offset-1">
              <img src="img/easy-fit/hidden-connections.png" alt="" class="connections" />
              <h3 class="title title-sm">
                HIDDEN CONNECTIONS
              </h3>
              <div class="text">
                Brand-new technology engineered inside and original design with invisible connections from outside.
                Hydraulic connections are completely hidden inside the product’s structure.
              </div>
              <footer>
                <a href="#" target="_blank" class="app-store">
                  <img src="img/app-android.png" alt="" />
                </a>
                <a href="#" target="_blank" class="app-store">
                  <img src="img/app-apple.png" alt="" />
                </a>
              </footer>
            </div>
          </div>
        </div>
      </section>


      <section class="service">
        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-10 col-lg-offset-1">
              <h3 class="title title-xl">Ariston Service</h3>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 col-lg-4 col-lg-offset-1">
              <h3 class="title title-md">
                top quality lasting longer
              </h3>
              <div class="text">
                <strong>100% granted by ariston, <br /> 100% made to last.</strong>
              </div>
              <a href="javascript:;" class="button" data-fancybox data-src="#fbox-quality">our quality commitment</a>
            </div>
            <div class="col-md-6 col-lg-5 col-lg-offset-1">
              <h3 class="title title-md">
                AFTER SALES <br />
                SERVICE
              </h3>
              <div class="text">
                Ariston offers <strong>efficiency</strong> and <strong>professionalism</strong>
                to all its customers.
              </div>
              <a href="javascript:;" class="button" data-fancybox data-src="#fbox-quality">support and services for you</a>
            </div>
          </div>
        </div>
      </section>


    </section>
    <!-- /Overview -->




    <!-- ************************************************
      Ready to discover
    ************************************************* -->
    <section class="discover">
      <div class="discover__header" data-stellar-background-ratio="0.9">
        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-10 col-lg-offset-1">
              <h3 class="title title-xl">
                READY TO DISCOVER <br /> LYDOS HYBRID?
              </h3>
            </div>
          </div>
        </div>
      </div>
      <div class="discover__body">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-8 col-lg-7 discover__slider">
              <h4 class="title">images</h4>
              <div class="slider">
                <a href="img/discover/slider/img.jpg" v-for="item in 6" data-fancybox="gallery" data-type="image">
                  <img src="img/discover/slider/img.jpg" alt="" />
                </a>
              </div>

							<footer>
								<nav class="slider__nav">
									<button class="prev" @click="goPrev()">
										<i class="fa fa-angle-left" aria-hidden="true"></i></button>
									<button class="next" @click="goNext()">
										<i class="fa fa-angle-right" aria-hidden="true"></i></button>
								</nav>
								<div class="slider__count">
									<span class="current" v-text="currentSlide"></span>
									of
									<span class="total" v-text="totalSlides"></span>
								</div>
								<div class="slider__zoom">
									<button @click="zoom()">
										<i class="fa fa-search" aria-hidden="true"></i>
										zoom
									</button>
								</div>
							</footer>


            </div>
            <div class="col-md-4 col-lg-offset-1 discover__data">
              <h4 class="title">technical features and data</h4>
              <ul class="tech-specs">
                <li>
									<a href=""> 
										Hybrid tech spec
										<small>1,5MB</small>
									</a>
								</li>
								<li>
									<a href=""> 
										Lydos Hybrid tech spec
										<small>1,5MB</small>
									</a>
								</li>                
              </ul>
              <h4 class="title">Capacity and dimensions</h4>
              <ul class="dimensions">
                <li>80 Lt  x mm / x mm / x mm</li>
                <li>10 Lt x mm / x mm / x mm</li>
							</ul>
							<img src="img/discover/thumb.jpg" alt="" class="discover__thumb">
            </div>
          </div>
        </div>        
      </div>
    </section>
    <!-- /Ready to discover -->




    <!-- ************************************************
      Calculator
    ************************************************* -->
    <section class="calculator" id="calculator" data-stellar-background-ratio="0.8">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-10 col-lg-offset-1">
            <h3 class="title title-md title-line">
              how to save 50% <br />
              on your electricity bill
            </h3>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-10 col-lg-offset-1">
            <div class="calculator__filters">
              <button :class="{selected: search == 'replacement'}" @click="showSection('replacement')"> replacement </button>
              <button :class="{selected: search == 'new'}" @click="showSection('new')"> new purchase </button>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <hr class="calculator__hr" />
          </div>
        </div>
         
        <div class="calculator__animation-pane">

         
            <div class="calculator__replacement">
              <div class="row">
                <div class="col-lg-12">
                  <form class="calculator__form">
                    <div class="calculator__col" v-for="label in inputReplacement">
                      <label>
                        <span>{{ label }}</span>
                        <select type="" value="" class="form-control input-lg">
                          <option v-for="option, index in 6">option {{ index }}</option>
                        </select>
                      </label>
                    </div>
                  </form>
                  <div class="calculator__buttons">
                    <div class="calculator__col">
                      <button class="button button-submit" @click="showResults()">calculate</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          
            <div class="calculator__new" v-show="false">
              <div class="row">
                <div class="col-lg-12">
                  <form class="calculator__form">
                    <div class="calculator__col" v-for="label in inputNew">
                      <label>
                        <span>{{ label }}</span>
                        <select type="" value="" class="form-control input-lg">
                          <option v-for="option, index in 6">option {{ index }}</option>
                        </select>
                      </label>
                    </div>
                  </form>
                  <div class="calculator__buttons">
                    <div class="calculator__col">
                      <button class="button button-submit" @click="showResults()">calculate</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          
            <div class="calculator__result" v-show="false">
              <div class="row">
                <div class="col-lg-12">
                  <div class="calculator__result__text">
                    <div class="save">
                      Lydos saves you
                      <strong>6,500€</strong>
                    </div>
                    <div class="percent">
                      <strong>55% </strong>
                      of saving on your electricity bill
                    </div>
                  </div>
                  <div class="calculator__buttons">
                    <div class="calculator__col">
                      <button class="button">contact us</button>
                    </div>
                    <div class="calculator__col">
                      <button class="button button--ghost">call us</button>
                    </div>
                    <div class="calculator__col">
                      <button class="button button--ghost">chat with us</button>
                    </div>
                    <div class="calculator__col">
                      <button class="button button--ghost">fix an appointment</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>

        </div>

      </div>
    </section>
    <!-- /Calcolo -->



    <!-- ************************************************
      Fancybox content
    ************************************************* -->
    <section class="fbox fbox-quality" id="fbox-quality">
      <div class="fbox__wrapper">
        <div class="container-fluid">
          <div class="row">
            <h3 class="title title-md">Top quality lasting longer</h3>
          </div>
          <div class="row">
            <article class="col-lg-4">
              <h6 class="title title-sm">
                <img src="img/service/link.png" alt="" />
                100%<br /> made to last
              </h6>
              <div class="text">
                <p>Top level results for longer, thanks to the <strong>protective power of Active Anode</strong> to prevent tank corrosion and enamelled heating element to <strong>inhibit limescale formation</strong>.</p>
                <ul>
                  <li>Boiler lined with titanium enamel at 850° and two anode protectors: magnesiun anode and active anode. 5-years warranty on tank*.</li>
                  <li>Lime scale prevention and granted performances even in case of aggressive waters.</li>
                  <li>Every electronic component insulated from water.</li>
                </ul>
              </div>
            </article>
            <article class="col-lg-4">
              <h6 class="title title-sm">
                <img src="img/service/heart.png" alt="" />
                100%<br /> granted by ariston
              </h6>
              <div class="text">
                <p>Long lasting performance and complete assistance ensured by the <strong>worldwide leading specialist in water heating</strong>.</p>
                <ul>
                  <li>                    
                    Research and development centers spread around the world: mastering the local needs to develop innovative global solutions.
                  </li>
                  <li>                    
                    Completely designed in Italy: patent pending on structure, aesthetic and hybrid technology.
                  </li>
                  <li>                    
                    Warranty and dedicated service, certified by Ariston.
                  </li>
                </ul>
              </div>
            </article>
            <article class="col-lg-4">
              <h6 class="title title-sm">
                <img src="img/service/check.png" alt="" />
                100%<br /> checked and tested
              </h6>
              <div class="text">
                <p>
                  Every single product is carefully and strictly tested on <strong>quality, efficiency and saving</strong>:
                  our commitment for superior results.
                </p>
              </div>
            </article>
          </div>
        </div>
      </div>

    </section>




  </div>
  


  <!-- Bower components -->
  <script src="vendor/gsap\src\minified\easing\EasePack.min.js"></script>
  <script src="vendor\gsap\src\minified\TweenMax.min.js"></script>
  <script src="vendor\lodash\dist\lodash.min.js"></script> 
  <script src="vendor/jquery/dist/jquery.min.js"></script>
  <script src="vendor/vue/dist/vue.min.js"></script>
  <script src="vendor/bootstrap/dist/js/bootstrap.js"></script>
  <script src="vendor/wow/dist/wow.min.js"></script>
	<script src="vendor/slick-carousel/slick/slick.js"></script>
	<script src="vendor\jquery.stellar\jquery.stellar.min.js"></script>
	<script src="vendor/fancybox/dist/jquery.fancybox.min.js"></script>

	<!-- Custom -->
	<script src="js/montaggio-statico.js"></script>
  <script src="js/main.js"></script>

</body>

</html>
