﻿@import "variables";

/* ----------------------------------------
  Buttons
-----------------------------------------*/
.button {
  @extend .font-bold;
  font-size: 14px;
  color: white;
  background: $red;
  text-transform: uppercase;
  padding: 22px 30px 22px 25px;
  border: 0;
	display: inline-block;
	position: relative;
  border: 2px solid $red;
  transition: transform .4s cubic-bezier(0.585, 0.180, 0.000, 1.460);
  text-shadow: none;
	z-index:2;
	white-space: nowrap;

  &:before {
    content: '';
    background: white;
    width: 8px;
    height: 10px;
    display: inline-block;
    margin-right: 15px;
	}

	&:focus, &:hover {
    outline:none;
    color: white;
		text-decoration: none;
		cursor: pointer;    
    transform: scale(1.04);

	}


  // Button play
  &-play {
		&:before {
			content: "";
			border-style: solid;
			border-width: 6px 0 6px 10px;
			border-color: transparent transparent transparent white;
			width: 0;
			height: 0;
			background: none;
		}
	}


  // Bottone sfondato
  &--ghost {
    background: none;
    color: white;
    border: 2px solid white;
	}
	

	@include xxs-max {
		padding: 18px 26px 18px 20px;
	}



}