﻿@import "variables";

/* ----------------------------------------
  Calculator
-----------------------------------------*/
.calculator {
  background: url('../img/calculator/bg.jpg');
  background-size: cover;
  background-position: center top;
  padding-top: 160px;
  padding-bottom: 160px;

  &__hr {
    margin: 60px 0 40px;
  }


  // Filters 
  &__filters {
    button { 
      color: white;
      margin-right: 25px;
      text-transform: uppercase;
      position: relative;
      padding-left: 27px;
      background: none;
      border: 0;

      &:before {
        content: '';
        border: 4px solid transparent;
        height: 16px;
        width: 16px;
        display: inline-block;
        border-radius: 16px;
        padding: 2px;
        box-shadow: 0 0 0px 1px white;
        background-clip: padding-box;
        position: absolute;
        left: 0;
        transition: all .4s;
      }

      &:focus, &:hover {
        outline: none;
      }

      &.selected:before {        
        background: white;
      }
    }
  } // /Finters

  
  &__animation-pane {
    overflow: hidden;
  }


  &__flex {
    display: flex;
    width: calc(100% + 20px);
    margin-left: -10px;
    flex-wrap: wrap;
  }


  // Form
  &__form {
    @extend .calculator__flex;

    label,
    select {
      width: 100%;
    }

    label {
      span {
        text-transform: uppercase;
        margin-bottom: 15px;
        display: block;
      }
    }

    select, option {
      @extend .font-bold;
      color: $red;
      font-size: 16px;
    }
  }


  // Elemento base struttura flex
  &__col {
    flex: 1 0 25%;
    padding: 0 10px 15px;
  }
   

  // Riga bottoni
  &__buttons {
    @extend .calculator__flex;

    .calculator__col {
      flex-grow: 0;
    }

    .button {
      @extend .calculator__col;      
      width: 100%;
      padding-top: 15px;
      padding-bottom: 15px;

      &:before {
        content: none;
      }

      &.button-submit {
        flex: 0 0 25%;
      }
    }
  }


 

  // Risultato
  &__result {
    &__text {
      display: flex;
      font-size: 28px;
      margin-top: -20px;

      .save {
        padding-top: 22px;
        strong {
          display: block;
        }
      }

      .percent {
        text-align: right;
        flex-grow: 1;

        strong {
          font-size: 110px;
        }
      }
		}		
  }


  @include sm-max {
    background-size: auto 1000px;
    padding-top: 60px;
    padding-bottom: 60px;

    hr {  margin: 30px auto; }

    &__filters {
      button {
        margin-bottom: 10px;
      }
    }

    &__col {
      flex-basis: 50%;
    }


    &__result {

      &__text {
        flex-direction: column;

        .save {  margin-bottom: 20px;  }

        .percent {
          text-align: left;
          line-height: 1;
          margin-bottom: 40px;
          strong {
            display: block;
          }  
        }
      }
    }

	} // sm-max
	
	@include xxs-max {

		&__col, &__buttons .button {
			flex-basis: 100%;
		}
	} // xxs-max



} // .calculator
